<template>
  <div class="header">
    <h1 style="color:white">My movie App</h1>
    <navigation></navigation>
    <Nuxt/>
  </div>

</template>

<style>

.header{
  background: #35495e;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 30px;
}

</style>

<script>
import navigation from '../components/navigation.vue'
export default {
  components:{
    navigation
  }
}
</script>