<template>
<div id="app">
    <div class="container">
        <form>
            <div id="input-box">
                <input type="text" v-model="movie.title" >
            </div>
            <div>
                <button @click="RunSearchEngine" type="submit">Search</button>
            </div>
        </form>

    </div>
 </div>
</template>

<script>
let url="https://api.themoviedb.org/3/search/movie?api_key=ddac2a9248a58d23cea75a9609c45bbc&query=jack"
export default {
    data(){
        return{
            movies:[],
            movie:{
                title:''
            }
        }
    },
    async fetch(){
        this.movies=await fetch(url).then(res=>res.json()).catch(e){console.log(e)}
    }
}
</script>

<style>
#app{
    align-items: center;
    margin-top: 300px;
}
#body{
    background-color: yellow;
}